@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

*{
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;
}

.main-div{
    width: 650px;
}

.suggetion-cont{
    width: 400px;
}